your.domain {
  tls /certs/cert.pem /certs/key.pem

  @websocket {
    header Connection *Upgrade*
    header Upgrade    websocket
  }

  reverse_proxy @websocket localhost:9944 {
    header_up Host {upstream_hostport}
    header_up X-Forwarded-Host {host}
  }

  reverse_proxy localhost:9933 {
    header_up Host {upstream_hostport}
    header_up X-Forwarded-Host {host}
  }
}
