rpc.subsocial.network {
  @websocket {
    header Connection *Upgrade*
    header Upgrade    websocket
  }

  @post method POST

  reverse_proxy @websocket localhost:9944
  reverse_proxy @post localhost:9933
}
